fastapi
uvicorn[standard]
pymongo
motor
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic[email]
httpx
python-dotenv
requests
pyjwt
python-jose[cryptography]
passlib[bcrypt]
resend
pywebpush
